



<br><br><br><br><br><br><br><br><br><br><br><br><br>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">


      <div class="col-md-3">
        </div>


      <div class="col-md-3">
        <%= link_to action: :albums do %>
            <div class="div1">

               Moje Albumy

            </div>
        <% end %>
      </div>


      <div class="col-md-6">
        <%= link_to action: 'friends', controller: 'friendship' do %>
            <div class="div2">

        Moi Znajomi
            </div>
        <% end %>
      </div>

<br><br><br><br><br><br><br><br><br><br><br><br>




      <div class="col-md-3">
      </div>


      <div class="col-md-3">
        <%= link_to action: 'users', controller: 'friendship' do %>
            <div class="div2">

        Users
            </div>
        <% end %>
      </div>



      <div class="col-md-6">
        <%= link_to action: :albums do %>
            <div class="div1">
              Informacje
            </div>
        <% end %>

      </div>






    </div>
  </div>
</div>







